# NPM Packages
node_modules

# Mutation Files
mutations

# MacOS Artifact
.DS_Store

# API Keys
secrets.js

# Docker Compose Env
.env

# SSL
volumes/certbot/
volumes/certbot/
volumes/nginx/generated.conf
